config rtpproxy global
	option enabled 0						# 0 - disabled, 1 - enabled

config instance 'site1'                
        option socket 'udp:127.0.0.1:7723'				# socket
	option ipaddr '127.0.0.1'					# IPv4 address
	option ip6addr '2001:0db8:0000:0000:0000:0000:1428:57ab'	# IPv6 address
	option user 'nobody'						# userid to run rtpproxy instance from
	option opts ''							# additional options for rtpproxy instance
                                      
config instance 'site2'               
        option socket 'udp:127.0.0.1:7724'
	option ipaddr '192.168.1.1'

