*.o
.DS_Store
.*.swp
/external
services/bootanim
services/btflinger/
services/factory/
services/jsproxy/
services/lumenflinger/
services/net_manager/
services/pivotdb/
services/pkgm/
services/power_monitor/
services/shadowgrade/
services/ttsflinger/
services/udp_multicast/
services/wifi_monitor/
services/www/
services/zygote/
libs/audio_capture/
libs/librkamsex/
libs/librokid-bcmdhd-bt/
libs/librokid-bt/
libs/librplayer/
libs/ota_unpack/
libs/power_ctrl/
libs/rplayer-demo/
libs/uWebSockets/
libs/udev_handler/
libs/vol_ctrl/
libs/wpa_ctrl/
libs/httpdns/
libs/libeloop_mini/
libs/libzeromq_handle/
services/bluetooth_service/
