[Unit]
Description=Rokid lumenflinger service
After=servicemanager.service
Requires=servicemanager.service
PartOf=servicemanager.service

[Service]
ExecStart=/usr/bin/lumenflinger --system --daemonize=no
Restart=always

[Install]
WantedBy=multi-user.target
