*.o
.DS_Store
.*.swp
/env
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/package/openwrt-packages
/dl
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
suffix.txt
version.txt
kernel.txt
target/linux/leo/config-4.4.old
target/linux/leo/image/0
